@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;

}
<h1>Location Page</h1>
@model AmazonWeb.Models.Location

<h1>@Model.Name</h1>
