@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
    
}
<div class="wrap-login">
    <div class="wrap-form-login">
        <form action="index.html" method="post" class="form-login">
            <h2 class="header-form">
                Create account
            </h2>
            <div class="field">
                <p class="title-form">Your name</p>
                <input type="text" class="input-user" id="name">
                <span class="message">
                    <i class="ti-alert"></i>
                    <span class="message-content">Enter your name</span>
                </span>
            </div>

            <div class="field">
                <p class="title-form">Email</p>
                <input type="text" class="input-user" id="email">
                <span class="message">
                    <i class="ti-alert"></i>
                    <span class="message-content">Enter your email</span>
                </span>
            </div>

            <div class="field">
                <p class="title-form">Password</p>
                <input type="password" class="input-user" id="password" placeholder="At least 8 characters">
                <span class="message">
                    <i class="ti-alert"></i>
                    <span class="message-content">Enter your password</span>
                </span>
                <span class="message-default">
                    <i class="ti-info-alt"></i>
                    <span class="message-content">Passwords must be at least 8 characters.</span>
                </span>
            </div>

            <div class="field">
                <p class="title-form">Re-enter password</p>
                <input type="password" class="input-user" id="repassword">
                <span class="message">
                    <i class="ti-alert"></i>
                    <span class="message-content">Enter your re-password</span>
                </span>
            </div>

            <button type="button" class="btn btn-sign-in" id="btn-register">Create your Amamzon account</button>

            <span class="legal-sig-in a-section">
                By continuing, you agree to Amazon's
                <a href="#" class="condition">Conditions of Use</a>
                and
                <a href="#" class="privacy">Privacy Notice.</a>
            </span>

            <div class="wrap-sign-in">
                <div class="sign-in a-section">
                    <span>Already have an account?</span>
                    <a href="#" class="link-sign-in">Sign-In</a>
                </div>

                <div class="sign-in a-section">
                    <span>Purchasing for work?</span>
                    <a href="#" class="link-sign-in">Create a free business account</a>
                </div>
            </div>
        </form>

    </div>
</div>
