@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutRegister";
    ViewBag.Title = "Login";
}

<div class="container-fluid wrap-login">

    <div class="wrap-form-login">
        <form action="" method="post" class="form-login">
            <h2 class="header-form">
                Sign-In
            </h2>
            <p class="title-form">Email or mobile phone number</p>
            <div class="wrap-input">
                <input type="text" class="input-user">
            </div>
            <button type="submit" class="btn btn-sign-in">Countinue</button>
            <span class="legal-sig-in a-section">
                By continuing, you agree to Amazon's
                <a href="#" class="condition">Conditions of Use</a>
                and
                <a href="#" class="privacy">Privacy Notice.</a>
            </span>

            <div class="helper a-section">
                <span class="ic-help"></span>
                <a href="#" class="link-help">Need help ?</a>
            </div>
        </form>

        <div class="a-divider a-divider-break">
            <h5>New to Amamzon?</h5>
        </div>

        <div class="a-button create-account">
            <a href="#" class="btn btn-create-account">Create your Amazon account</a>
        </div>

    </div>
</div>

