@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@page "/Category"

<section class="content-category">
    <div class="row row-sort">
        <div class="l-row-sort">
            <span>1-48 of over 3,000 results for</span>
            <span class="text-bold a-color">"amazonbasics"</span>
        </div>

        <div class="r-row-sort">
            <div class="wrap-sort">
                <span>sort by :</span>
                <select name="" id="selector-sort">
                    <option value="" selected class="select-items">Featured</option>
                    <option value="" class="select-items">Price : low to high</option>
                    <option value="" class="select-items">Price : high to low</option>
                    <option value="" class="select-items">Newest arrivals</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5ths col-md-5ths col-sm-5ths wrap-condition-category">
            <div class="department a-section condition-category">
                <h3>Department</h3>
                <ul class="condition-category-list list">
                    <li class="condition-category-items items">
                        <a href="#" class="item-link">
                            <i class="ti-angle-left "></i>
                            <span class="item-name">Accessories & Supplies</span>
                        </a>
                    </li>
                    <li class="condition-category-items items">
                        <a href="#" class="item-link">
                            <i class="ti-angle-left"></i>
                            <span class="item-name"> Camera & Photo</span>
                        </a>
                    </li>
                    <li class="condition-category-items items">
                        <a href="#" class="item-link">
                            <i class="ti-angle-left"></i>
                            <span class="item-name"> Car & Vehicle Electronics</span>
                        </a>
                    </li>
                    <li class="condition-category-items items">
                        <a href="#" class="item-link">
                            <i class="ti-angle-left"></i>
                            <span class="item-name">Cell Phones & Accessories</span>
                        </a>
                    </li>
                    <li class="condition-category-items items">
                        <a href="#" class="item-link">
                            <i class="ti-angle-left"></i>
                            <span class="item-name">Computers & Accessories</span>
                        </a>
                    </li>
                    <li class="condition-category-items items">
                        <a href="#" class="item-link">
                            <i class="ti-angle-left"></i>
                            <span class="item-name">Electronics Warranties</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class=" a-section condition-category">
                <h3>Climate Pledge Friendly</h3>
                <ul class="condition-category-list list">
                    <li class="condition-category-items items">
                        <input class="checkbox-category" type="checkbox" value="">
                        <a href="#" class="item-link">
                            <span class="item-name">Climate Pledge Friendly</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class=" a-section condition-category">
                <h3>Amazon Certified</h3>
                <ul class="condition-category-list list">
                    <li class="condition-category-items items">
                        <input class="checkbox-category" type="checkbox" value="">
                        <a href="#" class="item-link">
                            <span class="item-name">Auto Replenishment</span>
                        </a>
                    </li>
                    <li class="condition-category-items items">
                        <input class="checkbox-category" type="checkbox" value="">
                        <a href="#" class="item-link">
                            <span class="item-name">Works with Alexa</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class=" a-section condition-category">
                <h3>Avg. Customer Review</h3>
                <ul class="condition-category-list list">
                    <li class="condition-category-items items">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                        <a href="#" class="item-link">
                            <span class="item-name">& Up</span>
                        </a>
                    </li>
                    <li class="condition-category-items items">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                        <a href="#" class="item-link">
                            <span class="item-name">& Up</span>
                        </a>
                    </li>
                    <li class="condition-category-items items">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                            <i class="fas fa-star none-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                        <a href="#" class="item-link">
                            <span class="item-name">& Up</span>
                        </a>
                    </li>
                    <li class="condition-category-items items">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                            <i class="fas fa-star none-star"></i>
                            <i class="fas fa-star none-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                        <a href="#" class="item-link">
                            <span class="item-name">& Up</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col">
            <div class="row product-row">
                <div class="title-row">
                    <h4 class="header-row">Discovered by customers</h4>
                    <span class="desciption">Products found on the web and bought on Amazon</span>
                </div>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-3 product-items">
                                    <div class="product-header">
                                        <span class="best-seller">
                                            Best Seller
                                        </span>
                                        <span class="category-best-seller">
                                            in Health & Household
                                        </span>
                                    </div>

                                    <a href="#" class="img-category-product">
                                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                                             alt="">
                                    </a>

                                    <div class="a-section description-product">
                                        <a href="#">
                                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                                            Shelf Life, Easy to Open Value Pack
                                        </a>
                                        <div class="a-row ">
                                            <span class="text-bold">Single Use ·</span>
                                            <span class="text-bold">48</span>
                                            <span class="text-bold">Count</span>
                                        </div>
                                    </div>

                                    <div class="rating-product a-row">
                                        <span class="condition-review">
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star none-star"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                                    <div class="a-row">
                                        <span class="text-bold price-product">$11.99</span>
                                        <span>($0.25/Count)</span>
                                        <span>$15.49</span>
                                    </div>
                                    <div class="a-row">
                                        $11.39 with Subscribe & Save discount
                                    </div>
                                </div>
                                <div class="col-3 product-items">
                                    <div class="product-header">
                                        <span class="best-seller">
                                            Best Seller
                                        </span>
                                        <span class="category-best-seller">
                                            in Health & Household
                                        </span>
                                    </div>

                                    <a href="#" class="img-category-product">
                                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                                             alt="">
                                    </a>

                                    <div class="a-section description-product">
                                        <a href="#">
                                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                                            Shelf Life, Easy to Open Value Pack
                                        </a>
                                        <div class="a-row ">
                                            <span class="text-bold">Single Use ·</span>
                                            <span class="text-bold">48</span>
                                            <span class="text-bold">Count</span>
                                        </div>
                                    </div>

                                    <div class="rating-product a-row">
                                        <span class="condition-review">
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star none-star"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                                    <div class="a-row">
                                        <span class="text-bold price-product">$11.99</span>
                                        <span>($0.25/Count)</span>
                                        <span>$15.49</span>
                                    </div>
                                    <div class="a-row">
                                        $11.39 with Subscribe & Save discount
                                    </div>
                                </div>
                                <div class="col-3 product-items">
                                    <div class="product-header">
                                        <span class="best-seller">
                                            Best Seller
                                        </span>
                                        <span class="category-best-seller">
                                            in Health & Household
                                        </span>
                                    </div>

                                    <a href="#" class="img-category-product">
                                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                                             alt="">
                                    </a>

                                    <div class="a-section description-product">
                                        <a href="#">
                                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                                            Shelf Life, Easy to Open Value Pack
                                        </a>
                                        <div class="a-row ">
                                            <span class="text-bold">Single Use ·</span>
                                            <span class="text-bold">48</span>
                                            <span class="text-bold">Count</span>
                                        </div>
                                    </div>

                                    <div class="rating-product a-row">
                                        <span class="condition-review">
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star none-star"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                                    <div class="a-row">
                                        <span class="text-bold price-product">$11.99</span>
                                        <span>($0.25/Count)</span>
                                        <span>$15.49</span>
                                    </div>
                                    <div class="a-row">
                                        $11.39 with Subscribe & Save discount
                                    </div>
                                </div>
                                <div class="col-3 product-items">
                                    <div class="product-header">
                                        <span class="best-seller">
                                            Best Seller
                                        </span>
                                        <span class="category-best-seller">
                                            in Health & Household
                                        </span>
                                    </div>

                                    <a href="#" class="img-category-product">
                                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                                             alt="">
                                    </a>

                                    <div class="a-section description-product">
                                        <a href="#">
                                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                                            Shelf Life, Easy to Open Value Pack
                                        </a>
                                        <div class="a-row ">
                                            <span class="text-bold">Single Use ·</span>
                                            <span class="text-bold">48</span>
                                            <span class="text-bold">Count</span>
                                        </div>
                                    </div>

                                    <div class="rating-product a-row">
                                        <span class="condition-review">
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star none-star"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                                    <div class="a-row">
                                        <span class="text-bold price-product">$11.99</span>
                                        <span>($0.25/Count)</span>
                                        <span>$15.49</span>
                                    </div>
                                    <div class="a-row">
                                        $11.39 with Subscribe & Save discount
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-3 product-items">
                                    <div class="product-header">
                                        <span class="best-seller">
                                            Best Seller
                                        </span>
                                        <span class="category-best-seller">
                                            in Health & Household
                                        </span>
                                    </div>

                                    <a href="#" class="img-category-product">
                                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                                             alt="">
                                    </a>

                                    <div class="a-section description-product">
                                        <a href="#">
                                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                                            Shelf Life, Easy to Open Value Pack
                                        </a>
                                        <div class="a-row ">
                                            <span class="text-bold">Single Use ·</span>
                                            <span class="text-bold">48</span>
                                            <span class="text-bold">Count</span>
                                        </div>
                                    </div>

                                    <div class="rating-product a-row">
                                        <span class="condition-review">
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star none-star"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                                    <div class="a-row">
                                        <span class="text-bold price-product">$11.99</span>
                                        <span>($0.25/Count)</span>
                                        <span>$15.49</span>
                                    </div>
                                    <div class="a-row">
                                        $11.39 with Subscribe & Save discount
                                    </div>
                                </div>
                                <div class="col-3 product-items">
                                    <div class="product-header">
                                        <span class="best-seller">
                                            Best Seller
                                        </span>
                                        <span class="category-best-seller">
                                            in Health & Household
                                        </span>
                                    </div>

                                    <a href="#" class="img-category-product">
                                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                                             alt="">
                                    </a>

                                    <div class="a-section description-product">
                                        <a href="#">
                                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                                            Shelf Life, Easy to Open Value Pack
                                        </a>
                                        <div class="a-row ">
                                            <span class="text-bold">Single Use ·</span>
                                            <span class="text-bold">48</span>
                                            <span class="text-bold">Count</span>
                                        </div>
                                    </div>

                                    <div class="rating-product a-row">
                                        <span class="condition-review">
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star none-star"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                                    <div class="a-row">
                                        <span class="text-bold price-product">$11.99</span>
                                        <span>($0.25/Count)</span>
                                        <span>$15.49</span>
                                    </div>
                                    <div class="a-row">
                                        $11.39 with Subscribe & Save discount
                                    </div>
                                </div>
                                <div class="col-3 product-items">
                                    <div class="product-header">
                                        <span class="best-seller">
                                            Best Seller
                                        </span>
                                        <span class="category-best-seller">
                                            in Health & Household
                                        </span>
                                    </div>

                                    <a href="#" class="img-category-product">
                                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                                             alt="">
                                    </a>

                                    <div class="a-section description-product">
                                        <a href="#">
                                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                                            Shelf Life, Easy to Open Value Pack
                                        </a>
                                        <div class="a-row ">
                                            <span class="text-bold">Single Use ·</span>
                                            <span class="text-bold">48</span>
                                            <span class="text-bold">Count</span>
                                        </div>
                                    </div>

                                    <div class="rating-product a-row">
                                        <span class="condition-review">
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star none-star"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                                    <div class="a-row">
                                        <span class="text-bold price-product">$11.99</span>
                                        <span>($0.25/Count)</span>
                                        <span>$15.49</span>
                                    </div>
                                    <div class="a-row">
                                        $11.39 with Subscribe & Save discount
                                    </div>
                                </div>
                                <div class="col-3 product-items">
                                    <div class="product-header">
                                        <span class="best-seller">
                                            Best Seller
                                        </span>
                                        <span class="category-best-seller">
                                            in Health & Household
                                        </span>
                                    </div>

                                    <a href="#" class="img-category-product">
                                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                                             alt="">
                                    </a>

                                    <div class="a-section description-product">
                                        <a href="#">
                                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                                            Shelf Life, Easy to Open Value Pack
                                        </a>
                                        <div class="a-row ">
                                            <span class="text-bold">Single Use ·</span>
                                            <span class="text-bold">48</span>
                                            <span class="text-bold">Count</span>
                                        </div>
                                    </div>

                                    <div class="rating-product a-row">
                                        <span class="condition-review">
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star none-star"></i>
                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                                    <div class="a-row">
                                        <span class="text-bold price-product">$11.99</span>
                                        <span>($0.25/Count)</span>
                                        <span>$15.49</span>
                                    </div>
                                    <div class="a-row">
                                        $11.39 with Subscribe & Save discount
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev control-pre" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <i class="fas fa-chevron-left icon-control"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next control-next" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <i class="fas fa-chevron-right icon-control"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="divider"></div>
            <div class="row product-row product-main-row">
                <div class="col-3 product-items">
                    <div class="product-header">
                        <span class="best-seller">
                            Best Seller
                        </span>
                        <span class="category-best-seller">
                            in Health & Household
                        </span>
                    </div>

                    <a href="#" class="img-category-product">
                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                             alt="">
                    </a>

                    <div class="a-section description-product">
                        <a href="#">
                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                            Shelf Life, Easy to Open Value Pack
                        </a>
                        <div class="a-row ">
                            <span class="text-bold">Single Use ·</span>
                            <span class="text-bold">48</span>
                            <span class="text-bold">Count</span>
                        </div>
                    </div>

                    <div class="rating-product a-row">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                    </div>
                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                    <div class="a-row">
                        <span class="text-bold price-product">$11.99</span>
                        <span>($0.25/Count)</span>
                        <span>$15.49</span>
                    </div>
                    <div class="a-row">
                        $11.39 with Subscribe & Save discount
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="col-3 product-items">
                    <div class="product-header">
                        <span class="best-seller">
                            Best Seller
                        </span>
                        <span class="category-best-seller">
                            in Health & Household
                        </span>
                    </div>

                    <a href="#" class="img-category-product">
                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                             alt="">
                    </a>

                    <div class="a-section description-product">
                        <a href="#">
                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                            Shelf Life, Easy to Open Value Pack
                        </a>
                        <div class="a-row ">
                            <span class="text-bold">Single Use ·</span>
                            <span class="text-bold">48</span>
                            <span class="text-bold">Count</span>
                        </div>
                    </div>

                    <div class="rating-product a-row">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                    </div>
                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                    <div class="a-row">
                        <span class="text-bold price-product">$11.99</span>
                        <span>($0.25/Count)</span>
                        <span>$15.49</span>
                    </div>
                    <div class="a-row">
                        $11.39 with Subscribe & Save discount
                    </div>
                    <div class="divider"></div>

                </div>
                <div class="col-3 product-items">
                    <div class="product-header">
                        <span class="best-seller">
                            Best Seller
                        </span>
                        <span class="category-best-seller">
                            in Health & Household
                        </span>
                    </div>

                    <a href="#" class="img-category-product">
                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                             alt="">
                    </a>

                    <div class="a-section description-product">
                        <a href="#">
                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                            Shelf Life, Easy to Open Value Pack
                        </a>
                        <div class="a-row ">
                            <span class="text-bold">Single Use ·</span>
                            <span class="text-bold">48</span>
                            <span class="text-bold">Count</span>
                        </div>
                    </div>

                    <div class="rating-product a-row">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                    </div>
                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                    <div class="a-row">
                        <span class="text-bold price-product">$11.99</span>
                        <span>($0.25/Count)</span>
                        <span>$15.49</span>
                    </div>
                    <div class="a-row">
                        $11.39 with Subscribe & Save discount
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="col-3 product-items">
                    <div class="product-header">
                        <span class="best-seller">
                            Best Seller
                        </span>
                        <span class="category-best-seller">
                            in Health & Household
                        </span>
                    </div>

                    <a href="#" class="img-category-product">
                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                             alt="">
                    </a>

                    <div class="a-section description-product">
                        <a href="#">
                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                            Shelf Life, Easy to Open Value Pack
                        </a>
                        <div class="a-row ">
                            <span class="text-bold">Single Use ·</span>
                            <span class="text-bold">48</span>
                            <span class="text-bold">Count</span>
                        </div>
                    </div>

                    <div class="rating-product a-row">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                    </div>
                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                    <div class="a-row">
                        <span class="text-bold price-product">$11.99</span>
                        <span>($0.25/Count)</span>
                        <span>$15.49</span>
                    </div>
                    <div class="a-row">
                        $11.39 with Subscribe & Save discount
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="col-3 product-items">
                    <div class="product-header">
                        <span class="best-seller">
                            Best Seller
                        </span>
                        <span class="category-best-seller">
                            in Health & Household
                        </span>
                    </div>

                    <a href="#" class="img-category-product">
                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                             alt="">
                    </a>

                    <div class="a-section description-product">
                        <a href="#">
                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                            Shelf Life, Easy to Open Value Pack
                        </a>
                        <div class="a-row ">
                            <span class="text-bold">Single Use ·</span>
                            <span class="text-bold">48</span>
                            <span class="text-bold">Count</span>
                        </div>
                    </div>

                    <div class="rating-product a-row">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                    </div>
                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                    <div class="a-row">
                        <span class="text-bold price-product">$11.99</span>
                        <span>($0.25/Count)</span>
                        <span>$15.49</span>
                    </div>
                    <div class="a-row">
                        $11.39 with Subscribe & Save discount
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="col-3 product-items">
                    <div class="product-header">
                        <span class="best-seller">
                            Best Seller
                        </span>
                        <span class="category-best-seller">
                            in Health & Household
                        </span>
                    </div>

                    <a href="#" class="img-category-product">
                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                             alt="">
                    </a>

                    <div class="a-section description-product">
                        <a href="#">
                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                            Shelf Life, Easy to Open Value Pack
                        </a>
                        <div class="a-row ">
                            <span class="text-bold">Single Use ·</span>
                            <span class="text-bold">48</span>
                            <span class="text-bold">Count</span>
                        </div>
                    </div>

                    <div class="rating-product a-row">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                    </div>
                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                    <div class="a-row">
                        <span class="text-bold price-product">$11.99</span>
                        <span>($0.25/Count)</span>
                        <span>$15.49</span>
                    </div>
                    <div class="a-row">
                        $11.39 with Subscribe & Save discount
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="col-3 product-items">
                    <div class="product-header">
                        <span class="best-seller">
                            Best Seller
                        </span>
                        <span class="category-best-seller">
                            in Health & Household
                        </span>
                    </div>

                    <a href="#" class="img-category-product">
                        <img src="https://m.media-amazon.com/images/I/71IdKRlm8+L._AC_UL640_FMwebp_QL65_.jpg"
                             alt="">
                    </a>

                    <div class="a-section description-product">
                        <a href="#">
                            Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year
                            Shelf Life, Easy to Open Value Pack
                        </a>
                        <div class="a-row ">
                            <span class="text-bold">Single Use ·</span>
                            <span class="text-bold">48</span>
                            <span class="text-bold">Count</span>
                        </div>
                    </div>

                    <div class="rating-product a-row">
                        <span class="condition-review">
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star active-star"></i>
                            <i class="fas fa-star none-star"></i>
                        </span>
                    </div>
                    <a href="#" class="btn btn-deal-product">Limit time deal</a>
                    <div class="a-row">
                        <span class="text-bold price-product">$11.99</span>
                        <span>($0.25/Count)</span>
                        <span>$15.49</span>
                    </div>
                    <div class="a-row">
                        $11.39 with Subscribe & Save discount
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <h4 class="header-row">Related searches</h4>
                <div class="col-4 wrap-related-search">
                    <div class=" related-search-item a-section">
                        <i class="fas fa-search"></i>
                        <a href="#" class="a-link">amazonbasics clothes</a>
                    </div>
                </div>

                <div class="col-4 wrap-related-search ">
                    <div class=" related-search-item a-section">
                        <i class="fas fa-search"></i>
                        <a href="#" class="a-link">amazonbasics clothes</a>
                    </div>
                </div>

                <div class="col-4 wrap-related-search">
                    <div class=" related-search-item a-section">
                        <i class="fas fa-search"></i>
                        <a href="#" class="a-link">amazonbasics clothes</a>
                    </div>
                </div>

                <div class="col-4 wrap-related-search">
                    <div class=" related-search-item a-section">
                        <i class="fas fa-search"></i>
                        <a href="#" class="a-link">amazonbasics clothes</a>
                    </div>
                </div>

            </div>
            <div class="divider"></div>
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="divider no-margin-top"></div>
            <div class="row">
                <h3 class="header-row">Need help?</h3>
                <div class="a-section">
                    <a href="#" class="a-link a-color">Visit the help section </a>
                    <span>or</span>
                    <a href="#" class="a-link a-color">contact us</a>
                </div>
            </div>

        </div>
    </div>
</section>