
<section class="content">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./img/slide-nav.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./img/slide-nav1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" >
                <img src="./img/slide-nav2.jpg" class="d-block w-100" alt="..." >
            </div>
            <div class="carousel-item">
                <img src="./img/slide-nav3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev carousel-controler" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-controler" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    <div class="wrap-category">
        <div class="container-fluid category">
            <div class="row row-category">
                <div class="col-3 category-item">
                    <h4 class="category-name">Beauty picks</h4>
                    <a asp-action="Category" asp-controller="Home" >
                        <img src="./img/category1.jpg" alt="" class="category-img">
                    </a>
                    <a href="#" class="category-link">Shop now</a>
                    <a ></a>
                </div>

                <div class="col-3 category-item">
                    <h4 class="category-name">Computers & Accessories</h4>
                    <a asp-page = "/Firstpage" >
                        <img src="./img/category2.jpg" alt="" class="category-img">
                    </a>
                    <a href="#" class="category-link">See More</a>
                </div>

                <div class="col-3 category-item">
                    <h4 class="category-name">Shop by Category</h4>
                    <div class="row row-sm-custom">
                        <div class="col-6 category-sm-item">
                            <img src="./img/category3.jpg" alt="" class="category-sm-img">
                            <span class="category-sm-lable">Computers & Accessories</span>
                        </div>
                        <div class="col-6 category-sm-item">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/August/DashboardCard/PS4_240X._SY170_CB438749318_.jpg" alt="" class="category-sm-img">
                            <span class="category-sm-lable">Video Game</span>
                        </div>

                        <div class="col-6 category-sm-item">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/February/Dashboard/Baby240X._SY170_CB468850909_.jpg" alt="" class="category-sm-img">
                            <span class="category-sm-lable">Baby</span>
                        </div>
                        <div class="col-6 category-sm-item">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/February/Dashboard/Toys240X._SY170_CB468851693_.jpg" alt="" class="category-sm-img">
                            <span class="category-sm-lable">Toys & Game</span>
                        </div>
                    </div>
                    <a href="#" class="category-link">Shop now</a>
                </div>

                <div class="col-3">
                    <div class="sign-in-securely">
                        <h4 class="category-name">Sign in for the best experience</h4>
                        <button class="btn btn-Sign-in btn-sign-in-securely">Sign in securely</button>
                    </div>

                    <div class="category-introduce">
                        <a href="#">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/October/Fuji_D2_45M_en_US_2x._CB418309979_.jpg" alt="" class="category-introduce-img">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row row-category">
                <div class="col-3 category-item">
                    <h4 class="category-name">Shop top categories</h4>
                    <a href="#">
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/Fuji_Dash_PD_Nonprime__2x._SY608_CB403084762_.jpg" alt="" class="category-img">
                    </a>
                    <a href="#" class="category-link">Shop now</a>
                </div>

                <div class="col-3 category-item">
                    <h4 class="category-name">AmazonBasics</h4>
                    <a href="#">
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_PC_2x._SY608_CB431800964_.jpg" alt="" class="category-img">
                    </a>
                    <a href="#" class="category-link">See More</a>
                </div>

                <div class="col-3 category-item">
                    <h4 class="category-name">Get fit at home</h4>
                    <a href="#">
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/events/GFAH/GWDesktop_SingleImageCard_fitathome_2x._SY608_CB434924743_.jpg" alt="" class="category-img">
                    </a>
                    <a href="#" class="category-link">See More</a>
                </div>

                <div class="col-3 category-item">
                    <h4 class="category-name">Find your ideal TV</h4>
                    <a href="#">
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_TV_2X._SY608_CB432517900_.jpg" alt="" class="category-img">
                    </a>
                    <a href="#" class="category-link">See More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="feed-carousel ">
        <div class="header-a-section">
            <h3>Discover Amazon</h3>
            <a href="#">Click to learn more</a>
        </div>
        <div class="wrap-list-feed-carousel">
            <div class="feed-carousel-list owl-carousel owl-theme" id="discover">
                <div class="feed-carousel-item item">
                    <a href="#" class="wrap-link">
                        <img src="./img/img-feed-carousel/Fuji_Bubble_8Languages_en_US_updated_2x._CB445837684_.png" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="./img/img-feed-carousel/AIS_Bubble_TrackPackage_en_US_2X._CB451228334_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="./img/img-feed-carousel/AIS_Bubble_SecurePayment_en_US_2X._CB451228335_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="./img/img-feed-carousel/AIS_Bubble_ImportFees_V2_en_US_2x._CB447531871_.png" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="./img/img-feed-carousel/AIS_Bubble_Currency_en_US_2X._CB451228332_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="./img/img-feed-carousel/AIS_Bubble_247CS_V2_en_US_2x._CB447531888_.png" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item">
                    <a href="#" class="wrap-link">
                        <img src="./img/img-feed-carousel/AIS_Bubble_247CS_V2_en_US_2x._CB447531888_.png" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

            </div>

        </div>
    </div>

    <div class="feed-carousel">
        <div class="header-a-section">
            <h3>Top Beauty & Personal Care products</h3>
            <a href="#">Shop now</a>
        </div>
        <div class="wrap-list-feed-carousel ">
            <div class="feed-carousel-list owl-carousel owl-theme" id="feed-carousel-product">
                <div class="feed-carousel-item item">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/71LUBtylQxS._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/81dEyJq2NAL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/81Ht+P8NuIL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/51nFUxdgIZL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/81OkwZ3gbwL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/71aXzv34N+L._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/61kcUZYve1L._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/91l2Hzlu8zL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/71NbfFpRvzL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/81sLHGH9HBL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/8110-qC+fHL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

            </div>

        </div>
    </div>

    <div class="wrap-category_bottom">
        <div class="container-fluid category">
            <div class="row row-category">
                <div class="col-3 category-item">
                    <h4 class="category-name">Shop Laptops & Tablets</h4>
                    <a href="#">
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Laptops_758x608_2X_en_US._SY608_CB418608386_.jpg" alt="" class="category-img">
                    </a>
                    <a href="#" class="category-link">Shop now</a>
                </div>

                <div class="col-3 category-item">
                    <h4 class="category-name">Explore home bedding</h4>
                    <a href="#">
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_HomeBedding_Single_Cat_2x._SY608_CB418597104_.jpg" alt="" class="category-img">
                    </a>
                    <a href="#" class="category-link">See More</a>
                </div>

                <div class="col-3 category-item">
                    <h4 class="category-name">Create with strip lights</h4>
                    <a href="#">
                        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Striplighting_758x608_2X_en_US._SY608_CB418597463_.jpg" alt="" class="category-img">
                    </a>
                    <a href="#" class="category-link">See More</a>
                </div>

                <div class="col-3 category-item">
                    <h4 class="category-name">Comfy styles for her</h4>
                    <div class="row row-sm-custom">
                        <div class="col-6 category-sm-item">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_WomenFashion_Sweatshirt_Quad_Cat_2x._SY232_CB418609084_.jpg alt="" class="category-sm-img">
                            <span class="category-sm-lable">Sweatshirts</span>
                        </div>
                        <div class="col-6 category-sm-item">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_WomenFashion_Joggers_Quad_Cat_2x._SY232_CB418608748_.jpg" alt="" class="category-sm-img">
                            <span class="category-sm-lable">Joggers</span>
                        </div>

                        <div class="col-6 category-sm-item">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_WomenFashion_Cardigans_Quad_Cat_2x._SY232_CB418608722_.jpg" alt="" class="category-sm-img">
                            <span class="category-sm-lable">Cardigans</span>
                        </div>
                        <div class="col-6 category-sm-item">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_WomenFashion_Tees_Quad_Cat_2x._SY232_CB418608878_.jpg" alt="" class="category-sm-img">
                            <span class="category-sm-lable">Easy tees</span>
                        </div>
                    </div>
                    <a href="#" class="category-link">Shop now</a>
                </div>

            </div>

        </div>
    </div>

    <div class="feed-carousel">
        <div class="header-a-section">
            <h3>Top Beauty & Personal Care products</h3>
            <a href="#">Shop now</a>
        </div>
        <div class="wrap-list-feed-carousel ">
            <div class="feed-carousel-list owl-carousel owl-theme" id="feed-carousel-product-7">
                <div class="feed-carousel-item item">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/71LUBtylQxS._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/81dEyJq2NAL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/81Ht+P8NuIL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/51nFUxdgIZL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/81OkwZ3gbwL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/71aXzv34N+L._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/61kcUZYve1L._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/91l2Hzlu8zL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/71NbfFpRvzL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/81sLHGH9HBL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

                <div class="feed-carousel-item item ">
                    <a href="#" class="wrap-link">
                        <img src="https://m.media-amazon.com/images/I/8110-qC+fHL._AC_SY400_.jpg" alt="" class="feed-carousel-img-item">
                    </a>
                </div>

            </div>

        </div>
    </div>
</section>